<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div class="page container">
        <h1>Flask</h1>
        <div class="metanav">
            {% if not session.logged_in %}
                <a href="{{ url_for('login') }}">login</a>
            {% else %}
                <a href="{{ url_for('logout') }}">logout</a>
            {% endif %}
        </div>
        {% block body %}
        {% endblock %}
    </div>
</body>
</html>