{% extends 'layout.html' %}
{% block body %}
    {% if session.logged_in %}
        <form action="{{ url_for('add_entry') }}" method="post" classs="add-entry">
            <table>
                <tr>
                    <td>Title</td>
                    <td><input type="text" name="title" size="30"></td>
                </tr>
                <tr>
                    <td>Content</td>
                    <td><textarea name="text" id="text" cols="40" rows="5"></textarea></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button>작성</button>
                    </td>
                </tr>
            </table>
        </form>
    {% endif %}
    <ul>
    {% if entries %}
        {% for entry in entries %}
            <li>
                <h2>{{ entry.title }}</h2>
                {{ entry.text|safe }}
            </li>
        {% endfor %}
    {% else %}
        <li>작성된 글이 없습니다.</li>
    {% endif %}
    </ul>
{% endblock %}